<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todo_App</title>
    <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    @RenderBody()
    <script type="text/javascript" defer src="~/lib//materialize/dist/js/materialize.min.js"></script>
</body>
</html>
